html { 
  background: url(../images/common/bckg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.help {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}

.help-image {
  cursor: pointer;
}

.extra-padding {
  width: 40px;
  right: 0px;
}

.title-and-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
}

.title-and-buttons .title {
  
}

.title-and-buttons .title .title-underline {
  width: 0%;
  overflow: hidden;
  animation: title-underline-animation 1.5s ease 0.5s forwards;
  -webkit-animation: title-underline-animation 1.5s ease 0.5s forwards; /* Safari and Chrome */
}

/** Animation for the title underline */

@keyframes title-underline-animation {
  0%   { width: 0%;   }
  100% { width: 100%; }
}

@-webkit-keyframes title-underline-animation  {
  0%   { width: 0%;  }
  100% { width: 100%; }
}

/** Animation for the title underline ends */

.title-and-buttons .go-wrapper {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}

.title-and-buttons .go-wrapper .go-default {
  background: url('../images/individual/start/go_sprite.png') no-repeat;
  background-position: 0 0;
  width: 50px;
  height: 50px;
  animation: go-button-animation 2s ease 0 infinite alternate; 
  -webkit-animation: go-button-animation 2s ease 0 infinite alternate; 
}

.title-and-buttons .go-wrapper .go-hover {
  background: url('../images/individual/start/go_sprite.png') no-repeat;
  background-position: -104px 0;
  width: 50px;
  height: 50px;
}

.title-and-buttons .go-wrapper .go-clicked {
  background: url('../images/individual/start/go_sprite.png') no-repeat;
  background-position: -156px 0;
  width: 50px;
  height: 50px;
}

/** Animation for the Go button */

@keyframes go-button-animation {
  0%   { background: url('../images/individual/start/go/go.png') no-repeat; }
  100% { background: url('../images/individual/start/go/go_clear.png') no-repeat; }
}

@-webkit-keyframes go-button-animation  {
  0%   { background: url('../images/individual/start/go/go.png') no-repeat; }
  100% { background: url('../images/individual/start/go/go_clear.png') no-repeat; }
}

/* Animation for the Go button ends */



.top-bar {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 15px;
}


.choose-method {
  width: 40%;
  height: 102px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -51px;
  margin-left: -20%;
}

.choose-method .survey {
  float: left;
  width: 102px;
}

.choose-method .middle-line {
  float: left;
  margin-top: 38px;
  text-align: center;
}

.choose-method .analyse {
  float: right;
  width: 102px;
}
